@page
@model IndexModel
@{
    ViewData["Title"] = "Twój profil";
    string hidden = "";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <div class="row">        
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    <div>
                        @Html.DisplayFor(model => model.PhoneNumber) | <a id="edit">Edytuj</a>
                    </div>
                </dd>
            </dl>
        </div>
        <div id="editField" class="col-md-6" style="display:none">
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <br />
                <button type="submit" class="btn btn-default">Zapisz</button>
            </div>
        </div>
    </div>
</form>

@if (Model.Enrollments.Count > 0)
{
    <a id="enrols" class="btn btn-default">Moje wizyty</a>
    <table id="enrolTable" class="table table-hover" style="display:none">
        <thead>
            <tr>
                <th>Data</th>
                <th>Nazwa zabiegu</th>
                <th>Nazwisko pracownika</th>
                <th>Imię pracownika</th>
                <th>Numer tel. pracownika</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Enrollments)
            {
                string past = item.Active ? "" : "past";
                <tr class="@past">
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TreatmentAssignment.Treatment.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TreatmentAssignment.Employee.User.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TreatmentAssignment.Employee.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TreatmentAssignment.Employee.User.PhoneNumber)
                    </td>
                    <td>
                        @if (item.Active)
                        {
                            <a asp-page="./Delete" asp-route-enrolId="@item.Id">Odwołaj wizytę</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#edit").click(function () {
                $("#editField").fadeToggle();
            });
            $("#enrols").click(function () {
                $("#enrolTable").fadeToggle();
            });
        });
    </script>
}
