@page "{employeeId:int?}"
@model BeautySalonManager.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Usuń pracownika";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h3>Na pewno chcesz usunąć pracownika?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.User.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Employee.Id" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-page="./Index">Wróć</a>
    </form>
</div>
