@page
@model BeautySalonManager.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.User.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.TreatmentAssignments.FirstOrDefault().Treatment.Name)
        </dt>
        @foreach (var item in Model.Employee.TreatmentAssignments)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.Treatment.Name)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.Id">Edytuj</a> |
    <a asp-page="./Index">Wróć</a>
</div>
