@page "{id:int?}"
@model BeautySalonManager.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Pracownicy";
}

<h2>Lista Pracowników</h2>

<p>
    <a asp-page="Create">Dodaj pracownika</a>
</p>
<div asp-validation-summary="ModelOnly" class="alert alert-success fade in">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Adres email</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee.Employees)
        {
            string selectedRow = "";
            if(item.Id == Model.EmployeeID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.Id">Zobacz terminarz</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Przydziel zabiegi</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-page="./Delete" asp-route-employeeId="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Employee.Enrollments != null)
{
    <h3>Terminy pracownika</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Data</th>
                <th>Zabieg</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employee.Enrollments)
            {
                string selectedRow = "";
                if (item.Id == Model.EnrollmentID)
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.TreatmentAssignment.Treatment.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



