@page
@model BeautySalonManager.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>List of Employees</h2>

<p>
    <a asp-page="Create">Add New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].User.Email)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
