@page "{id:int?}"
@model BeautySalonManager.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Employees";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>List of Employees</h2>

<p>
    <a asp-page="Create">Add New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee.Employees)
        {
            string selectedRow = "";
            if(item.Id == Model.EmployeeID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                @*<td>
                    @{ 
                        foreach(var enrollment in item.TreatmentAssignments)
                        {
                            @enrollment.Enrollments <br />
                        }
                    }
                </td>*@
                <td>
                    <a asp-page="./Index" asp-route-id="@item.Id">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Assign treatments</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Employee.Enrollments != null)
{
    <h3>Employee's enrollments</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Treatment</th>
            <th>Client First Name</th>
            <th>Client Last Name</th>
        </tr>


        @foreach (var item in Model.Employee.Enrollments)
        {
            string selectedRow = "";
            if (item.Id == Model.EnrollmentID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Date
                </td>
                <td>
                    @item.TreatmentAssignment.Treatment.Name
                </td>
                <td>
                    @item.TreatmentAssignment.Employee.User.FirstName
                </td>
                <td>
                    @item.TreatmentAssignment.Employee.User.LastName <br />
                </td>
            </tr>
        }

    </table>
}



