@model PaginatedList<Models.Enrollment>
<h3>Wolne terminy pracownika</h3>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    <i class="glyphicon glyphicon-chevron-left"></i>
</a>

@Html.DisplayFor(modelItem => Model.Monday) - @Html.DisplayFor(modelItem => Model.Sunday)

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    <i class="glyphicon glyphicon-chevron-right"></i>
</a>
<ul>
    @foreach (var item in Model.FreePeriods)
    {
        <li>@item</li>
    }
</ul>