@page
@model BeautySalonManager.Pages.Treatments.ConfirmEnrollmentModel
@{
    ViewData["Title"] = "ConfirmEnrollment";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Potwierdzenie terminu</h2>

<h3>Czy potwierdzasz termin wizyty?</h3>
<div>
    <form method="post">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Enrollment.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Enrollment.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Enrollment.TreatmentAssignment.Treatment.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Enrollment.TreatmentAssignment.Treatment.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Enrollment.TreatmentAssignment.Treatment.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Enrollment.TreatmentAssignment.Treatment.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Enrollment.TreatmentAssignment.Employee.User.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Enrollment.TreatmentAssignment.Employee.User.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Enrollment.TreatmentAssignment.Employee.User.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Enrollment.TreatmentAssignment.Employee.User.LastName)
            </dd>
        </dl>
        <input type="hidden" asp-for="Enrollment.Active" />
        <input type="hidden" asp-for="Enrollment.Date" />
        <input type="hidden" asp-for="Enrollment.TreatmentAssignmentId" />
        <input type="hidden" asp-for="Enrollment.UserId" />
        <input type="submit" value="Potwierdź" class="btn btn-default" />|<a asp-page="./Index">Powrót</a>
    </form>
</div>

