@page
@model BeautySalonManager.Pages.Treatments.DeleteModel

@{
    ViewData["Title"] = "Usuń zabieg";
}

<h2>@ViewData["Title"]</h2>

<h3>Na pewno chcesz usunąć ten zabieg?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Treatment.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Treatment.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Treatment.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Treatment.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Treatment.Id" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-page="./Index">Wróć</a>
    </form>
</div>
