@page "{treatmentId:int?}/{employeeId:int?}/{month?}/{day:int?}"
@model BeautySalonManager.Pages.Treatments.IndexModel

@{
    ViewData["Title"] = "Zabiegi";
    int cat;
    string catName;      
}

<h2>Zabiegi</h2>

<p>
    <a asp-page="Create">Dodaj zabieg</a>
</p>
<div asp-validation-summary="ModelOnly" class="alert alert-success fade in">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>

<div class="panel-group" id="accordion">
    @for (int i = 1; i < 5; i++)
    {
        string collapse = "";
        if(Model.TreatmentID != 0 && 
            Model.Treatment.Treatments.FirstOrDefault(q => q.Id == Model.TreatmentID).Category == i)
        {
            collapse = "in";
        }
        cat = i;
        switch (cat)
        {
            case 1:
                catName = "Manicure";
                break;
            case 2:
                catName = "Brwi/Rzęsy";
                break;
            case 3:
                catName = "Ciało";
                break;
            case 4:
                catName = "Twarz";
                break;
            default:
                catName = "";
                break;
        }
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@cat">@catName</a>
                </h4>
            </div>
            <div id="@cat" class="panel-collapse collapse @collapse">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Czas trwania</th>
                                <th>Cena</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Treatment.Treatments)
                            {
                                if (item.Category == cat)
                                {
                                    string selectedRow = "";
                                    if (item.Id == Model.TreatmentID)
                                    {
                                        selectedRow = "success";
                                    }
                                    <tr class="@selectedRow">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            <a asp-page="./Index" asp-route-treatmentId="@item.Id">Wybierz</a> &nbsp;
                                            @if (User.IsInRole("Employee"))
                                            {
                                                <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj</a> @:&nbsp;
                                                <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.Treatment.Employees != null)
{
    <h3>Dostępni pracownicy</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Adres email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Treatment.Employees)
            {
                string selectedRow = "";
                if (item.Id == Model.EmployeeID)
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        <a asp-page="./Index" asp-route-employeeId="@item.Id">Wybierz</a>
                    </td>
                    <td>
                        @item.User.LastName
                    </td>
                    <td>
                        @item.User.FirstName
                    </td>
                    <td>
                        @item.User.Email
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.EmployeeID != 0)
    {
        <h3>Dostępne terminy</h3>
        <hr />
        <div class="row">
            <div class="col-md-4">
                @foreach (var item in Model.MonthsNavigation)
                {
                    string selectedMonth = "default";
                    if (item.Item2 == Model.SelectedMonth)
                    {
                        selectedMonth = "success";
                    }
                    <a class="btn btn-@selectedMonth" asp-page="./Index" asp-route-month="@item.Item2">@item.Item2</a>
                }
                @if (Model.SelectedMonthDaysNumber > 0)
                {
                    for (int i = 0; i < Model.SelectedMonthDaysNumber; i++)
                    {
                        string selectedDay = "default";
                        string disabled = "";
                        if (i + 1 < DateTime.Now.Day && DateTime.Now.Month == Model.SelectedMonthInt)
                        {
                            disabled = "disabled";
                        }
                        else if (i + 1 == Model.SelectedDay)
                        {
                            selectedDay = "success";
                        }
                        if (i % 7 == 0)
                        {
                            @:<br />
                        }
                        <a class="btn btn-@selectedDay @disabled" style="width:40px" asp-page="./Index" asp-route-day="@(i + 1)">@(i + 1)</a>
                    }
                }
            </div>
            <div class="col-md-8">
                @if (Model.SelectedDay != 0)
                {
                    if (Model.FreePeriods.Count == 0)
                    {
                        <div class="alert alert-warning">
                            <strong>Brak wolnych terminów!</strong>
                        </div>
                    }
                    else
                    {
                        string itemDate;
                        <div class="btn-group">
                            @foreach (var item in Model.FreePeriods)
                            {
                                if (Model.FreePeriods.IndexOf(item) % 12 == 0)
                                {
                                @:</div><div class="btn-group">
                                }
                                @*if (Model.FreePeriods.IndexOf(item) % 6 == 0 && Model.FreePeriods.Count() - Model.FreePeriods.IndexOf(item) < 6)
                                    {
                                    @:</div><div class="btn-group">
                                    }*@
                                itemDate = item.ToString("dd.MM.yyyy HH:mm");
                                <a class="btn btn-default"
                                    asp-page="./ConfirmEnrollment"
                                    asp-route-date="@itemDate"
                                    asp-route-treatmentAssignmentId="@Model.TreatmentAssignmentId"
                                    asp-route-userId="@Model.UserId">
                                    @item.ToString("HH:mm")
                                </a>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    }
}